@use "global" as *;

// ローディング最初の画面が出ないようにするため、余白をmargin-top → padding-topへ変更
.top-contact {
  padding-top: rem(80);
  padding-bottom: rem(104);

  @include mq(md) {
    padding-top: rem(140);
    padding-bottom: rem(160);
  }
}

.top-contact--sub-page {
  margin-top: rem(106);

  @include mq(md) {
    margin-top: rem(140);
  }
}

.top-contact--site-map-page {
  margin-top: rem(88);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.top-contact--privacy-page,
.top-contact--terms-page {
  @include mq(md) {
    margin-top: rem(139);
  }
}