@use "global" as *;

.header {
  background-color: rgba($color: $green, $alpha: 68%);
  // ↓ スクロールしてメインビューを過ぎたとき、ヘッダーの色が一瞬で変わらないようにbackground-colorについても指定（25.2.4）
  // 「opacity 2s ease」は不要のため削除（25.7.8)
  transition: background-color 0.3s;
}

.header.is-color {
  background-color: $gray;
}

// ↓ これで色を変えるとtransitionが効いてしまう！ → .sp-navのtop:rem(80)をpadding-topで指定して、そこへ色が乗るようにする
// .header.is-active {
//   background-color: $greenaccent; // 動画レビュー：追加
// }

.header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: inherit;
  padding: 0 rem(15);

  @include mq(md) {
    // max-width: rem(1440);  FB：左右にくっつける（max-widthの設定不要）
    // margin: auto;
    padding: 0 rem(40);
  }
}

.header__logo {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  height: inherit;

  @include mq(md) {
    left: rem(-4);
    padding-top: rem(7);  // align-items: center;だけではズレが大きいのでpaddingで調整
  }
}

.header__logo-link {
  display: block;
  aspect-ratio: 102 / 38;
  width: rem(102);
  overflow: hidden;

  @include mq(md) {
    aspect-ratio: 141 / 58; // 133/50 → 141/58 に修正：カンプは133×50だがその通り指定すると、デベロッパーツールで組み込みサイズ141×58(レンダリングは133×50)と表示され、VSCodeのsvgファイルには「width="141" height="58"」とある（svgファイルのタブを右クリックして「エディターを再度開くアプリケーションの選択」からテキストエディターを選択） ※なぜカンプの数値とsvgファイルの数値が異なるのか？ → AI：この差分（幅+8px、高さ+8px）はドロップシャドウ（影）の領域です。SVGの<filter>要素を見ると、dy="4"（下方向に4pxオフセット）とstdDeviation="2"（ぼかし2px）が設定されており、影の分だけ余白が追加されている
    width: rem(141);
  }
}

.header__logo-link img {
  height: 100%;
  object-fit: cover;
}

.header__drawer {
  @include mq(md) {
    display: none;
  }
}

.header__pc-nav {
  display: none;
  height: inherit;

  @include mq(md) {
    display: block;
    margin-left: auto;
  }
}
